<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- MemberMapper.xml -->
<mapper namespace="com.web.root.mybatis.member.MemberMapper">

	<resultMap type="com.web.root.member.dto.MemberDTO" id="member">
		<id property="id" column="id"/>
		<result property="pw" column="pw"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="nickname" column="nickname"/>
		<result property="type" column="type"/>
	</resultMap>

	<select id="idcheck" parameterType ="String" resultType="String">
		select count(*) from membership where id=#{id}
	</select>
	
	<select id="mypage" resultMap="member">
		select * from membership where id=#{id}
	</select>
		
	<select id="info" resultMap="member">
		select * from membership where id=#{id}
	</select>
	
	<update id="infoUpdate">
		update membership set name=#{name},
							   id=#{id},
							   pw=#{pw},
		                       nickname=#{nickname},
		                       email=#{email} where id=#{id}
	</update>
	

	<insert id="register">
		insert into membership values(#{id}, #{pw}, #{name}, #{email}, #{nickname}, #{type})
	</insert>
	
	<select id="logintest" resultType="Integer">
		select count(*) from membership where id=#{id} and pw=#{pw}
	</select>
	
	<delete id="memberDelete">
		delete from membership where id=#{id}
	</delete>
	
	<select id="memberList" resultType="com.web.root.member.dto.MemberDTO">
		select * from membership where type='B'
	</select>
	
</mapper>
